* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* DECOR DANS LE CORPS DE LA PAGE */

body {
    background-image: url("/Images/paysage.jpg");
}

.score {
    margin: 50px 450px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff; 
}

.play:hover {
    background: rgba(255,255,255,0.4);
}


.container {
    position: relative;
}


/* TROU DE TAUPE */

.trou_1 {
    position: absolute;
    top: 430px;
    left: 250px;
    width: 250px;
}

.trou_2 {
    position: absolute;
    top: 470px;
    left: 800px;
    width: 250px;
}

.trou_3 {
    position: absolute;
    top: 450px;
    right: 110px;
    width: 250px;
    overflow: hidden;
}


.trou_4 {
    position: absolute;
    top: 450px;
    width: 250px;
}

.trou_5 {
    position: absolute;
    top: 480px;
    left: 500px;
    width: 250px;
}

.trou_6 {
    position: absolute;
    top: 400px;
    right: 30px;
    width: 150px;
    overflow: hidden;
}





/* TAUPE */

img {
    width: 150px;
}

.n1 {
    position: absolute;
    top: 340px;
    left: 305px;
    cursor: pointer;
}

.n2 {
    position: absolute;
    top: 380px;
    left: 850px;
    cursor: pointer;
}

.n3 {
    position: absolute;
    top: 360px;
    right: 160px;
    cursor: pointer;
}

.n4 {
    position: absolute;
    top: 360px;
    left: 50px;
    cursor: pointer;
}

.n5 {
    position: absolute;
    top: 390px;
    left: 550px;
    cursor: pointer;
}

.n6 {
    position: absolute;
    top: 335px;
    right: 55px;
    width: 100px;
    cursor: pointer;
}

.n7 {
    position: absolute;
    top: 206px;
    left: 110px;
    cursor: pointer;
}

.n8 {
    /* Sam */
    position: absolute;
    top: 270px;
    left: 330px;
    width: 100px;
    cursor: pointer;
}

.n9 {
    /* Gertrude */
    position: absolute;
    top: 325px;
    left: 500px;
    width: 100px;
    cursor: pointer;
}



