* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* DECORS DU JEU TAPE TAUPE */

body {
    background-image: url("./Images/paysage.jpg");
}

/* SCORE */

.score {
    margin: 50px 450px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff; 
    display: none;
}


/* COMPTE À REBOURS */

.score-temps {
    display: flex;
}

.clock {
    position: fixed;
	width: 110px;
	height: 110px;
    right: 230px;
	border-radius: 50%;
	background-color: rgb(182, 134, 0);
	margin-top: 20px;
    -webkit-box-shadow: -1px 0px 26px 3px #000000; 
    box-shadow: -1px 0px 26px 3px #000000;
    display: none;
}

.secondes-jeu {
	display: block;
	width: 100%;
    font-weight: bold;
    color: #fff;
	padding-top: 30px;
	text-align: center;
	font-size: 60px;
    display: none;
}




/* CONTAINER DES TROUS ET DES TAUPES */

.container {
    position: relative;
}


/* TROU DE TAUPE */

.trou_de_taupe {
    display: none;
}

/* Trou de Rico */
.trou_1 {
    position: absolute;
    top: 430px;
    left: 250px;
    width: 250px;
}

/* Trou de Skipper */
.trou_2 {
    position: absolute;
    top: 470px;
    left: 800px;
    width: 250px;
}

/* Trou de Soldat */
.trou_3 {
    position: absolute;
    top: 450px;
    right: 110px;
    width: 250px;
    overflow: hidden;
}

/* Trou de Ginger */
.trou_4 {
    position: absolute;
    top: 450px;
    width: 250px;
}

/* Trou de Rocky */
.trou_5 {
    position: absolute;
    top: 480px;
    left: 500px;
    width: 250px;
}

/* Trou de Phoenix */
.trou_6 {
    position: absolute;
    top: 400px;
    right: 30px;
    width: 150px;
    overflow: hidden;
}



/* TAUPE */

.taupe {
    display: none;
}

img {
    width: 150px;
}

/* Taupe Rico */
.n1 {
    position: absolute;
    top: 340px;
    left: 305px;
    cursor: pointer;
}

/* Taupe Skipper */
.n2 {
    position: absolute;
    top: 380px;
    left: 850px;
    cursor: pointer;
}

/* Taupe Soldat */
.n3 {
    position: absolute;
    top: 360px;
    right: 160px;
    cursor: pointer;
}

/* Taupe Ginger */
.n4 {
    position: absolute;
    top: 360px;
    left: 50px;
    cursor: pointer;
}

/* Taupe Rocky */
.n5 {
    position: absolute;
    top: 390px;
    left: 550px;
    cursor: pointer;
}

/* Taupe Phoenix */
.n6 {
    position: absolute;
    top: 335px;
    right: 55px;
    width: 100px;
    cursor: pointer;
}

/* Taupe Rex */
.n7 {
    position: absolute;
    top: 206px;
    left: 110px;
    cursor: pointer;
}

/* Taupe Sam */
.n8 {
    /* Sam */
    position: absolute;
    top: 270px;
    left: 330px;
    width: 100px;
    cursor: pointer;
}

/* Taupe Gertrude */
.n9 {
    position: absolute;
    top: 325px;
    left: 500px;
    width: 100px;
    cursor: pointer;
}




/* MODALE 1 - EXPLICATIONS DU JEU DE TAPE TAUPE */

.modale-guide {
    width: 400px;
    background-color: rgb(147, 98, 0);
    border-radius: 6px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
    z-index: 100;
    -webkit-box-shadow: -1px 0px 26px 3px #000000; 
    box-shadow: -1px 0px 26px 3px #000000;
    
}

.modale-guide img {
    width: 200px;
    margin-top: -50px;
    border-radius: 50%;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
}

.modale-guide h2 {
    font-size: 38px;
    font-weight: bold;
    margin: 20px 0 10px;
}

.modale-guide .temps-de-jeu {
    margin: 30px 0 30px;
}

.modale-guide .coups {
    margin: 30px 0 30px;
}

.bouton-suivant {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(242, 161, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-suivant:hover {
    background-color: rgb(255, 183, 40);
}





/* MODALE 2 - NIVEAU DE DIFFICULTE */

.modale-level {
    width: 400px;
    background-color: rgb(147, 98, 0);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
    z-index: 100;
    -webkit-box-shadow: -1px 0px 26px 3px #000000; 
    box-shadow: -1px 0px 26px 3px #000000;
    display: none;
}

.modale-level h3 {
    font-weight: bold;
    margin: 30px 0 20px;
}

.modale-level img {
    width: 200px;
    margin-top: -50px;
    border-radius: 50%;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
}

.modale-level .bouton-facile {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgb(43, 152, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-facile:hover {
    background-color: rgb(54, 189, 0);
}

.modale-level .bouton-moyen {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgb(181, 188, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-moyen:hover {
    background-color: rgb(204, 211, 0);
}

.modale-level .bouton-difficile {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgb(185, 0, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-difficile:hover {
    background-color: rgb(214, 0, 0);
}

.bouton-precedent {
    width: 100%;
    margin-top: 60px;
    padding: 10px 0;
    background-color: rgb(242, 161, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-precedent:hover {
    background-color: rgb(255, 183, 40);
}




/* MODALE 3 - LE LANCEMENT DU JEU */

.modale-begin {
    width: 400px;
    background-color: rgb(147, 98, 0);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
    z-index: 100;
    -webkit-box-shadow: -1px 0px 26px 3px #000000; 
    box-shadow: -1px 0px 26px 3px #000000;
    display: none;
}

.modale-begin img {
    width: 200px;
    margin-top: -55px;
    border-radius: 50%;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
}

.modale-begin h3 {
    font-weight: bold;
    margin: 30px 0 20px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"] {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 15px;
    margin: 20px 0 20px;
}


.bouton-start {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgb(63, 146, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-start:hover {
    background-color: rgb(73, 169, 0);
}




/* MODALE 4 - LA FIN DE LA PARTIE */

.modale-fin {
    width: 400px;
    background-color: rgb(147, 98, 0);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    margin-top: 25px;
    color: #fff;
    z-index: 100;
    -webkit-box-shadow: -1px 0px 26px 3px #000000; 
    box-shadow: -1px 0px 26px 3px #000000;
    display: none;
}

.modale-fin img {
    width: 200px;
    margin-top: -55px;
    border-radius: 50%;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
}

.modale-fin h3 {
    font-weight: bold;
    margin: 30px 0 40px;
}

.modale-fin h2 {
    margin-top: 10px;
}

.modale-fin .score-joueur {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.modale-fin .afficher-joueur {
    margin-top: 20px;
}


.modale-fin .score-de-fin {
    font-size: 80px;
    margin-top: 30px;
}

.bouton-recommencer {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgb(63, 146, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-recommencer:hover {
    background-color: rgb(73, 169, 0);
}

.bouton-quitter {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(242, 161, 0);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 0px -1px 10px -3px #000000; 
    box-shadow: 0px -1px 10px -3px #000000;
    cursor: pointer;
}

.bouton-quitter:hover {
    background-color: rgb(255, 183, 40);
}
